[submodule "SynchronizerLibrary"]
	path = SynchronizerLibrary
	url = https://gitlab+deploy-token-3184:gldt-ad4ftQmWDJsnHVdpPfw4@gitlab.cern.ch/winsrvinfra/remote-desktop-services/shared-synchronizer-library.git